<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:latest-posts {"style":{"spacing":{"margin":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}}} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"header","theme":"no-code","area":"header"} /-->

<div class="site-container">
    <!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}},"fontSize":"small"} /-->

    <!-- wp:latest-posts {"style":{"spacing":{"margin":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}}} /-->

    <!-- wp:block {"ref":13} /-->
</div>

<!-- wp:template-part {"slug":"footer","theme":"no-code","area":"footer"} /-->